* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
}

.container h1 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

form {
  width: 100%;
  max-width: 300px;
  margin-bottom: 20px;
}

label {
  display: block;
  margin: 10px 0 5px;
  font-size: 14px;
  color: black;
}

input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #4caf55;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  transform: scale(1.05);
  opacity: 0.8;
}

#result {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.others {
  margin-right: 30px;
}

.others button {
  padding: 5px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 7px;
  font-size: 16px;
  cursor: pointer;
  background-color: #555;
}

.others button a{
  text-decoration: none;
  color: white;
  font-weight: bold;
}